<?xml version="1.0"?>
<configuration>
  <system.webServer>
  	<customErrors mode="Off"/>
	<!-- <httpErrors errorMode="Detailed" /> -->
	<defaultDocument enabled="true">
	  <files>
		<clear /> 
		<add value="index.aspx" />
	  </files>
	</defaultDocument>
	<rewrite>
		<rules>
		  <!-- <rule name="Canonical Host Name" stopProcessing="true">
			<match url="(.*)" />
			<conditions>
			  <add input="{HTTP_HOST}" negate="true" pattern="^beta\.damptshirts\.com$" />
			</conditions>
			<action type="Redirect" url="http://beta.damptshirts.com/{R:1}" redirectType="Permanent" />
		  </rule> -->
		  <rule name="Remove index.aspx from url" stopProcessing="true">
			<match url="(.*)index.aspx"/>
			<action type="Redirect" url="{R:1}" redirectType="Permanent"/>
		  </rule>
		  <rule name="CLICK ON TAG PAGING">
			<match url="t-shirts/tag/(.*)/(.*)/(.*)/" />
			<action type="Rewrite" url="index.aspx?Page={R:1}&amp;TagID={R:2}&amp;Tag={R:3}" />
		  </rule>

		  <rule name="UPDATED CLICK ON TAG PAGING">
			<match url="shirt/tag/(.*)/(.*)/" />
			<action type="Rewrite" url="index.aspx?TagID={R:1}&amp;Tag={R:2}" />
		  </rule>

		  <rule name="CLICK ON SEARCH PAGING">
			<match url="t-shirts/search/(.*)/(.*)/(.*)/"/>
			<action type="Rewrite" url="index.aspx?Page={R:1}&amp;TagID={R:2}&amp;Search={R:3}"/>
		  </rule>

		  <rule name="UPDATED CLICK ON SEARCH PAGING">
			<match url="shirt/search/(.*)/(.*)/"/>
			<action type="Rewrite" url="index.aspx?TagID={R:1}&amp;Search={R:2}"/>
		  </rule>

		  <rule name="CLICK ON T-SHIRT">
			<match url="t-shirts/detail/(.*)/(.*)/" />
			<action type="Rewrite" url="detail.aspx?i={R:1}&amp;title={R:2}" />
		  </rule>

		  <rule name="UPDATED CLICK ON T-SHIRT">
			<match url="t/shirt/(.*)/(.*)/" />
			<action type="Rewrite" url="detail.aspx?i={R:1}&amp;title={R:2}" />
		  </rule>

		  <rule name="CLICK ON REGULAR PAGING">
			<match url="t-shirts/(.*)/(.*)/(.*)/" />
			<action type="Rewrite" url="index.aspx?Page={R:1}&amp;TagID={R:2}&amp;Tag={R:3}" />
		  </rule>

		  <rule name="What Is Rewrite">
			<match url="what-is-damp-t-shirts/"/>
			<action type="Rewrite" url="about.aspx"/>
		  </rule>

		  <rule name="Contact">
			<match url="contact/"/>
			<action type="Rewrite" url="contact.asp"/>
		  </rule>

		  <rule name="Tag List">
			<match url="tag-list/"/>
			<action type="Rewrite" url="tagList.aspx"/>
		  </rule>

		  <rule name="Coupons">
			<match url="t-shirt-coupons/"/>
			<action type="Rewrite" url="coupons.aspx"/>
		  </rule>
		</rules>
	  </rewrite>
  </system.webServer> 
</configuration>