<?xml version="1.0"?>
<configuration>
	<system.web>
		<customErrors mode="Off"/>
	</system.web>
	<system.webServer>
		
		<defaultDocument enabled="true">
			<files>
				<clear /> 
				<add value="index.asp" />
			</files>
		</defaultDocument>
		
		
		<httpErrors errorMode="Detailed" defaultPath="/404.html" defaultResponseMode="ExecuteURL">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
         </httpErrors>		
	</system.webServer>	

</configuration>
